.aside {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 500;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  overflow: hidden;

  &__social {
    display: flex;
    width: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;

    @media only screen and (max-width: $bp-small) {
      visibility: hidden;
    }

    & div {
      clip-path: polygon(100% 6%, 100% 100%, 0 94%, 0 0);
      background-image: url(./assets/images/cartographer.png);
      background-color: rgba($color-primary-bleak, 0.9);
      background-blend-mode: multiply;
      transition: all 0.5s;
      transform: scale(0.8);
      overflow: hidden;
      padding: 1.5rem 0;

      &:hover {
        transform: scale(0.9);
      }
    }

    & a {
      margin: 1.5rem;
      display: inline-block;
      width: 3.5rem;
      height: 3.5rem;
      text-decoration: none;
      overflow: hidden;
      box-shadow: 1px 1px 3px rgba($color-black, 0.5);

      @media only screen and (max-width: $bp-small) {
        width: 5rem;
        height: 5rem;
      }
    }

    & .soc-img {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all 0.5s ease-out;
    }

    & .fb {
      background-image: url(./assets/images/icons/facebook.png);
      &:hover {
        background-color: #3b5998;
      }
    }
    & .yt {
      background-image: url(./assets/images/icons/youtube.png);
      &:hover {
        background-color: #cc181e;
      }
    }
    & .ins {
      background-image: url(./assets/images/icons/instagram.png);
      &:hover {
        background-color: #0084b4;
      }
    }
  }

  &__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba($color-primary-bleak, 0.5);
    border-radius: 1rem;
    transform: scale(0.8);
    transition: all 0.5s;
    overflow: hidden;

    &:hover {
      transform: scale(0.9);
    }

    & a {
      color: rgba($color-white, 1);
      font-size: 5rem;
      padding: 0 2rem;
      text-align: center;
      text-decoration: none;
      width: 100%;
      height: 100%;
    }
  }
}

// FACEBOOK SHARE BUTTON

.fb-share-button {
  background-color:rgba(#3b5998, 0.5);
  position: absolute;
  top: 0.5rem;
  left: -0.5rem;
  padding-left: 1rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 10px;
  transition: all 0.3s;
  border-left: 5px solid #3b5998;

  &::before {
    content: '';
    width: 2rem;
    height: 2rem;
    background-image: url(./assets/images/icons/facebook.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
  }

  &:hover {
    top: 0.7rem;
    background-color:rgba(#3b5998, 1);
    box-shadow: 0 0 5px rgba($color-black, 0.5);
  }

  @media only screen and (max-width: $bp-small) {
    top: 2rem;

    &:hover {
      top: 2.1;
    }
  }

  & a {
    color: $color-white !important;
    text-decoration: none;
    font-size: $default-font-size;
    padding: 1.5rem;
    padding-left: 0.5rem;
  }
}
